@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik+Mono+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Rubik+Mono+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik+Mono+One&display=swap');



html, body, #app, #app>div {
  padding: 0;
  margin: 0;
}

.hidden {
  display: none;
}

:root {
  --background: white;
  --text-primary: black;
  --nav-primary: #12121232; 
}

[data-theme='dark'] {
  --background: #121212;
  --text-primary: rgb(255, 255, 255); 
  --nav-primary: #383737;
}

.App {
  color: var(--text-primary);
  background-color: var(--background);
  transition: all .5s;
  min-height: 100vh;
  overflow: auto;
  max-height: 100vh;
}


/* ****************** Main Content ********************* */
.main {
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
}

.main_box1 {
    display: flex;
    position: static;
}

.main_group1 {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-left: 10rem;
    margin-right: 10rem;
}

.main_group2 {
    display: flex;
    flex-direction: row;
    max-width: 50%;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.main_group1_i1{
    display: flex;
    margin-bottom: -5px;

    
}

.main_group1_i2{
    display: flex;
    margin-top: -20px;
    display: inline-flex;
    
}

.main_group2_i1 {
    height: 24px;
    width: 24px;
    fill: var(--text-primary) !important;
}

.main_group2_i2 {
    margin-left: 20px;
    height: 24px;
    width: 24px;
    fill: var(--text-primary);
}

.main_group2_i3 {
    margin-left: 20px;
    height: 24px;
    width: 24px;
    cursor: pointer;
    fill: var(--text-primary);
}

.main_greeting {
    color: var(--text-primary);
    font-size: 20px;
    
}

/* ***************************************************** */
/* ****************** Secondary Content **************** */
.secondary {
  display: flex;
  position: static;
  flex-direction: column;
  justify-content: left;
  margin-top: 1rem;
}
.secondary_box1 {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin-left: 10rem;
  margin-right: 10rem;
} 


/* ***************************************************** */
/* ************** tertiary **************************** */
.tertiary {
  display: flex;
  position: static;
  flex-direction: column;
  justify-content: left;
  margin-top: 1rem;
}

.tertiary_box1 {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin-left: 10rem;
  margin-right: 10rem;
}

/* ***************************************************** */
/* ************************* fourth ************************* */

.fourth {
  display: flex;
  position: static;
  flex-direction: column;
  justify-content: left;
  margin-top: 1rem;
}

.fourth_box1 {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin-left: 10rem;
  margin-right: 10rem;
}


/* ***************************************************** */
/* ****************** Navbar Content ********************* */
.navbar {
  display: flex;
  background-color: var(--nav-primary);
  position: static; 
  height:50px;
  text-align: center;
  vertical-align: middle;
  line-height:50px;
  top:0px;
  width: 100%;
  max-width: 100%;
  align-self: center;
  align-items: center;
}

.navbar_logo {
  display: inline-flex;
  vertical-align: top;
  margin-left: 10rem;
  position: static;
  font-family: "Rubik Mono One", serif;
  font-weight: 400;
  font-style: normal;
  font-size: x-large;
  cursor: pointer;
}

.navbar_group1 {
  display: inline-flex;
  position: static;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  cursor: pointer;
}

.navbar_group1 div {
  margin-left: 1rem;
}

.navbar_group1 img {
  margin-left: 1rem;
}

.navbar_theme {
  height: 1.5rem;
}

/* ***************************************************** */

.title {
  font-weight: 500;
}

.skills {
  font-weight: 500;
  margin-top: 2px;
}

.margins_small {
  margin: 2px;
}

.mt_0 {
  margin-top: 0px;
}
.mt_1 {
  margin-top: 1px;
}
.mt_2 {
  margin-top: 2px;
}
.mt_3 {
  margin-top: 4px;
}
.mt_4 {
  margin-top: 4px;
}

.mt_1rem {
  margin-top: 1rem;
}

.mt_2rem {
  margin-top: 2rem;
}

a {
  color: var(--text-primary);
  font-weight: 600;
  text-decoration: none;
}


.project_image {
  height: 250px;
  width: 450px;
}

.projects_body {
  margin-right: 3rem;
}