body {
    margin: 0;
    height: 100%;
}
html {
  height: 100%;
}
#index {
  height: 100%;
  background-size: cover;
}
footer {
  margin: 0;
}


.hidden {
  display: none;
}

:root {
  --background: white;
  --text-primary: black;
  --nav-primary: #12121232; 
}

[data-theme='dark'] {
  --background: #121212;
  --text-primary: rgb(255, 255, 255); 
  --nav-primary: #121212;
}