@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik+Mono+One&display=swap');

.main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}
.main_box1 {
    display: flex;
    margin-left: 2rem;
    position: fixed;
}
.main_group1 {
    display: flex;
    flex-direction: column;
    max-width: 50%;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.main_group2 {
    display: flex;
    flex-direction: row;
    max-width: 50%;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;

}
.main_group1_i1{
    display: flex;
    margin-bottom: -5px;

    
}
.main_group1_i2{
    display: flex;
    margin-top: -20px;
    display: inline-flex;
    
}

.main_group2_i1 {
    height: 24px;
    width: 24px;
}

.main_group2_i2 {
    margin-left: 20px;
    height: 24px;
    width: 24px;
}

.main_greeting {
    color: black;
    font-size: 20px;
    
}

