@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Rubik+Mono+One&display=swap');
.navbar {
  display: inline-block;
  vertical-align: top;
  cursor: pointer;
  max-width: max-content;
}
.navbar_item1 {
  display: inline-block;
  vertical-align: top;
}
.navbar_item2 {
  display: inline-block;
  vertical-align: top;
  top: 0;
  right: 50px;
  position: fixed;
}

.navbar_levlogo {
  font-family: "Rubik Mono One", monospace;
  font-weight: 400;
  font-style: normal;
  font-size: 3rem;
  margin-top: 0;
}

.navbar_levlogo_hidden {
  display: none;

}

.chevron_right {
  height: 3rem;
  transform: rotate(0deg);
  transition: transform 400ms;
}


.chevron_left{
  height: 3rem;
  transform: rotate(180deg);
  transition: transform 400ms;
}
